body {
  margin: 0;
  font-family:"Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,231,251);
  background: radial-gradient(circle, rgba(63,231,251,1) 0%, rgba(82,70,252,1) 100%);
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
